body {
    font-family: Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body img {
    width: 80px;
    height: 80px;
}

.alert {
    font-size: 14px;
    padding: 10px;
}

.carousel-inner img {
    border-radius: 10px;
}

.carousel-item {
    border-radius: 15px;
}

.d-flex .btn-primary {
    font-size: 12px;
    padding: 5px 15px;
}

.d-flex .btn-danger {
    font-size: 12px;
    padding: 5px 15px;
}
